:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-text-color: #ffffff;
  --secondary-white-text-color: rgba (255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
}

}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
 }

 .section-hero { 
background-color: #2f303a;
 }

.logo {
  color: var(--primary-text-color);
}

.logo:hover {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-text-color);
}

.site-nav .link.current {
  color: var(--primary-text-color);
}
.active-btn :hover, :focus {
  color: var(--accent-color);
  background-color: var(--primary-white-text-color);
}




.footer-title {
    background-color: #2f303a;
}