/ *цвет основного текста #212121*/
/* вторичный цвет текста rgba (0, 0, 0, 0)
*/
/* белый #ffffff */
/* акцент#2196f3 */
/* вторичный цвет фона #757575*/ 

.body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}


.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo:hover, .logo:focus
 {
    color: var(--accent-color);
    background-color: var(--primary-white-text-color);
 }

.logo-first {
    color:var(--accent-color);
  font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}

.logo-second {
    color: var(--primary-text-color);
    font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
   }
.logo-third {
color: var(--primary-white-color);
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}
/* Site nav */

.site-nav .link.current {
  color: var(--primary-text-color);
   font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
  }

.site-nav .link {
  color: var(--accent-color);
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
} 
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-text-color);
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.site-nav .link-contact {
  color: var(--primary-text-color);
   font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em; 
text-decoration: none;
}

/* Auth-nav */

.auth-nav contacts-link {
  color: var(--secondary-text-color);
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.auth-nav contacts-link link {
   color: var(--secondary-text-color);
   font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em
}


/* Hero */
.hero-title {
  color: var(--primary-text-color);
  
}
/* Button */
.button {
  color: var(--primary-white-text-color);
  background-color: #ffffff;
  
}

.button.primary link {
  color: var(--primary-white-text-color);
  background-color: var(--accent-color);
  border-color: blue;
  text-align: center;
}

.button.secondary link {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  border-color: transparent;
  text-align: center;
}

/* Filtre on the pages */

.section-title {
  color: var(--primary-text-color);
  font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
text-align: center;
}

.section-description {
  color: var(--secondary-text-color);
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
text-align: center;
}


.footer

/* Footer */
.logo {
    color: var(--primary-text-color);
font-family: Raleway, cursive;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}
.logo-first {
    color:var(--accent-color);
   font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
 
  }

}
.logo-second {
    color: var(--primary-text-color);
    font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.contacts-adress{
color: var(--primary-text-color);
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em
}

.contacts-link {
  color: rgba(0, 0, 0, 0.6);
  аont-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
}
.contacts-link link {
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}
